.Cart-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.7);
}

.Cart-modalDialog {
  overflow: hidden;
  width: 960px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  background-color: white;
}

.Cart-body {
  margin: 70px 0;
}

.Cart-items {
  border-top: 1px dashed #ccc;
}

.Cart .Head {
  display: flex;
  justify-content: space-between;
}

.Cart .Controls {
  align-self: center;
  padding-right: 32px;
}

.Cart-totalPrice {
  display: flex;
  gap: 70px;
  margin-left: 690px;
  margin-top: 20px;
  font-weight: 700;
}

.Cart .Controls-btn1 {
  width: 76px;
}

.Cart-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  height: 200px;
}
