.CommentRecursive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  width: 100%;
}

.CommentRecursive-head {
  display: flex;
  gap: 10px;
}

.CommentRecursive-username {
  font-size: 12px;
  font-weight: 700;
}

.CommentRecursive-date {
  color: #666;
  font-size: 12px;
}

.CommentRecursive-text {
  font-size: 14px;
  word-break: break-word;
  padding-right: 40px;
}

.CommentRecursive-replyBtn {
  color: #0087E9;
  font-size: 12px;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

.CommentRecursive-username_highlighted {
  color: #666;
  font-family: Arial, serif;
  font-size: 12px;
  font-weight: 700;
}