.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-addToCartBtn {
  width: 76px;
}

.Item-removeFromCartBtn {
  width: 76px;
}

.Item-count {
  margin-left: 60px;
  padding: 20px 12px 20px 0;
  white-space: nowrap;
}
