/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-linkMain {
  margin-right: auto;
  color: #0087E9;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.BasketTool-label {

}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
